<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h3>Cadastrar Usuário</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Usuários</li>
                    <li class="breadcrumb-item active">Cadastrar Usuário</li>
                </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <form role="form">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Nome</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Insira o nome do jogo" 
                                    [(ngModel)]="formularioUsuario.nome" [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="form-group">
                                    <label>Status</label>
                                    <select class="form-control" [(ngModel)]="formularioUsuario.status" [ngModelOptions]="{standalone: true}">
                                        <option value='' disabled selected>Selecione o status</option>
                                        <option value='1'>Ativo</option>
                                        <option value='0'>Inativo</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">E-mail</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Insira seu e-mail" 
                                    [(ngModel)]="formularioUsuario.email" [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Senha</label>
                                    <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Insira uma senha" 
                                    [(ngModel)]="formularioUsuario.senha" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="card-footer">
                                <!-- <div *ngIf="!jogoId"> -->
                                    <button type="submit" class="btn btn-primary" (click)="salvarNovoUsuario()">Salvar</button>
                                    <button type="submit" class="btn btn-default" (click)="voltarParaListagem()">Voltar</button>
                                <!-- </div> -->
                                <div *ngIf="usuarioId">
                                    <button type="submit" class="btn btn-primary" (click)="atualizarUsuario()">Salvar</button>
                                    <button type="submit" class="btn btn-default" (click)="voltarParaListagem()">Voltar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>