<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Lista de Usuários</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Listagem de Usuarios</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                    <button type="button" class="btn btn-primary"(click)="cadastrarUsuario()">Novo Usuario</button>
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Ação</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Quantidade De Jogos Emprestados</th>
                    <th>Status</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let usuario of listaDeUsuarios">
                    <td>
                        <i class="fas fa-pencil-alt" aria-hidden="true" (click)="editarUsuario(usuario.id)"></i>
                        <i class="fas fa-trash-alt" aria-hidden="true" (click)="excluirUsuario(usuario.id)"></i>
                        <i class="fas fa-eye" aria-hidden="true" (click)="verDetalhes(usuario.id)"></i>
                    </td>
                    <td>{{usuario.nome}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.quantidadeJogosEmprestados}}</td>
                    <td>{{usuario.status==1?'Ativo':'Inativo'}}</td>
                  </tr>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>