<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Catálogo de Jogos</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Catálago de Jogos</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                    <button type="button" class="btn btn-primary"(click)="cadastrarNovoJogo()">Novo Jogo</button>
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Ação</th>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Plataforma</th>
                    <th>Situação</th>
                    <th>Status</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let jogo of listaDeJogos">
                    <td>
                      <i class="fas fa-pencil-alt" aria-hidden="true" (click)="editarJogo(jogo.id)"></i>
                        <span *ngIf="jogo.situacaoId == 1">
                          <i class="fas fa-minus-square" aria-hidden="true" (click)="carregarDadosDaModalDeEmprestimo(jogo.id)" data-toggle="modal" data-target="#modal-default"></i>
                        </span>
                        <span *ngIf="jogo.situacaoId == 2">
                          <i class="fas fa-plus-square" aria-hidden="true" (click)="receberJogo(jogo.id)"></i>
                        </span>
                        <i class="fas fa-trash-alt" aria-hidden="true" (click)="excluirJogo(jogo.id)"></i>
                        <i class="fas fa-eye" aria-hidden="true" (click)="verDetalhes(jogo.id)"></i>
                    </td>
                    <td>{{jogo.nome}}</td>
                    <td>{{jogo.tipoJogoNome}}</td>
                    <td>{{jogo.tipoPlataformaNome}}</td>
                    <td>{{jogo.situacaoNome}}</td>
                    <td>{{jogo.status=='1'? 'Ativo' : 'Inativo'}}</td>
                  </tr>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <div class="modal fade" id="modal-default">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Emprestar Jogo</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form role="form">
              <div class="form-group">
                  <label>Selecionar o Amigo que vai pegar emprestado:</label>
                  <select class="form-control" [(ngModel)]="usuarioSelecionado.nome" [ngModelOptions]="{standalone: true}">
                      <option value="" disabled selected>Selecione a opção</option>
                      <option *ngFor="let usuario of listaDeUsuarios" [(value)]="usuario.id">{{usuario.nome}} ></option>
                  </select>
              </div>
          </form>
      </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
          <button type="button" class="btn btn-primary" (click)="registrarEmprestimo(this.jogoId, usuarioSelecionado.id)">Salvar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>